
.container {
  display: flex;

}

.grid{
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
}
.grid div{
  height: 20px;
  width:  20px;

}
.mini-grid{
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background: yellow;
  margin-left: 15px;
}
.mini-grid div{
  height: 20px;
  width:  20px;


}
.tetromino {
  background-color: blue;
}
